body
{
	background-image:url(/img/crisp_paper_ruffles.png);
}

#holder
{
	width:600px;
	height:120px;
}

form#in
{
	-webkit-box-shadow:0 0 2px 0 rgba(0,0,0,0.3);
	box-shadow:0 0 2px 0 rgba(0,0,0,0.3);
}

.well
{
	background-color:#faf9f9;
}

.form-actions
{
	background-color:#f9f7f7;
}

select
{
	width:5.5em;
	border:none;
	border:1px solid #CCC;
	border-radius:0 3px 3px 0;
	background-color:#EEE;
}

#sub
{
	letter-spacing:.1em;
}

.hidden
{
	display:none;
}

.help-block
{
	color:#afafaf;
}
