body
{
	background-image:url(/img/tiny_grid.png);
}
#holder
{
	padding-top:65px;
	width:300px;
	height:150px;
}
p.speech
{
	position:relative;
	top:-180px;
	left:200px;
	display:none;
	width:45px;
	height:18px;
	border:1px solid #666;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#c8c8c8;
	color:#969696;
	text-align:center;
}

p.speech:after
{
	position:absolute;
	top:18px;
	left:8px;
	width:0;
	height:0;
	border:3px solid;
	border-color:#c8c8c8 transparent transparent #c8c8c8;
	content:' ';
}

form#in
{
	-webkit-box-shadow:0 0 2px 0 rgba(0,0,0,0.3);
	box-shadow:0 0 2px 0 rgba(0,0,0,0.3);
}

.well
{
	background-color:#faf9f9;
}

.form-actions
{
	background-color:#faf9f9;
}

select
{
	width:5.5em;
	border:none;
	border:1px solid #CCC;
	border-radius:0 3px 3px 0;
	background-color:#EEE;
}

#sub
{
	letter-spacing:.1em;
}

.hidden
{
	display:none;
}

.help-block
{
	color:#afafaf;
}
