*
{
	color:#e1e1e1;
}

body
{
	background-image:url(/img/irongrip.png);
}

#holder
{
	padding-top:65px;
	width:300px;
	height:150px;
}

p.speech
{
	position:relative;
	top:-180px;
	left:200px;
	display:none;
	width:45px;
	height:18px;
	border:1px solid #666;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#c8c8c8;
	color:#969696;
	text-align:center;
}

p.speech:after
{
	position:absolute;
	top:18px;
	left:8px;
	width:0;
	height:0;
	border:3px solid;
	border-color:#c8c8c8 transparent transparent #c8c8c8;
	content:' ';
}

#start
{
	margin:30px 0 50px;
	text-align:center;
}

hgroup
{
	margin-top:30px;
	text-align:center;
}

h2
{
	margin-top:15px;
	color:#7d7d7d;
}

.hidden
{
	display:none;
}

.img-wrapper
{
	margin:0 auto;
	width:200px;
	height:200px;
}

.cut-out
{
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,.2),inset 0 4px 5px rgba(0,0,0,.6),inset 0 1px 0 rgba(0,0,0,.6);
	-moz-box-shadow:0 1px 0 rgba(255,255,255,.2),inset 0 4px 5px rgba(0,0,0,.6),inset 0 1px 0 rgba(0,0,0,.6);
	box-shadow:0 1px 0 rgba(255,255,255,.2),inset 0 4px 5px rgba(0,0,0,.6),inset 0 1px 0 rgba(0,0,0,.6);
}

.img-wrapper#cloud
{
	background: url(/img/vec/icons.png) no-repeat 0 0px;
	width: 200px;
	height: 200px;
}

.img-wrapper#cloud:hover
{
	background: url(/img/vec/icons.png) no-repeat 0 -200px;
	width: 200px;
	height: 200px;
}

.img-wrapper#pen
{
	background: url(/img/vec/icons.png) no-repeat -209px 0px;
	width: 200px;
	height: 200px;}

.img-wrapper#pen:hover
{
	background: url(/img/vec/icons.png) no-repeat -209px -200px;
	width: 200px;
	height: 200px;
}

.img-wrapper#open
{
	background: url(/img/vec/icons.png) no-repeat -418px 0px;
	width: 200px;
	height: 200px;
}

.img-wrapper#open:hover
{
	background: url(/img/vec/icons.png) no-repeat -418px -200px;
	width: 200px;
	height: 200px;
}

#features h4
{
	margin:1.5em 0 .8em;
	color:#268ABB;
	text-align:center;
	font-size:1.5em;
}

#features h5
{
	margin:0 0 .7em;
	color:#DBE0E4;
	text-align:center;
	font-size:1.1em;
}

#features p
{
	padding:0 3em;
	color:#7D7D7D;
}

span.coming
{
	color:#7D7D7D;
}

hr{
	border-top: 1px solid #2E2E2E;
	border-bottom: 1px solid #4D4D4D;
}