doctype 5
html
	head
		title Vec 生物测定-药剂配制系统
		meta(charset='utf-8')
		link(rel='stylesheet',href='css/bootstrap.min.css')
		script(src="js/libs/modernizr-2.5.3.min.js")
	body
		.container
			header.row
			section.row
				div.span4 pic
				div.span8
					h1 Vec
					h3 生物测定-药剂配制系统
					a.btn.btn-large.btn-primary(href='/vec/start') 开始使用
			section.row
				div.span4
					h4 解放双手
					p Vec的设计理念就是解决复杂的药剂配制计算过程
				div.span4
					h4 云端储存
					p 介绍2 bal alsdkf jalu as dlkfju abalk djfna sdfl  kjbu as ldfkj sdfla ksjdfa lkdf
				div.span4
					h4 共享及私有
					p Vec默认公开你所设计的
			footer.row
