doctype 5
html
	head
		title 开始使用Vec
		meta(charset='utf-8')
		link(rel='stylesheet',href='../css/bootstrap.min.css')
		link(rel='stylesheet',href='../css/vec/start.css')
		script(src="../js/libs/modernizr-2.5.3.min.js")
	body
		.container
			header.row
				div.span12#holder
					p.speech 测试版
			section#main.row
				section.row
					div.span8
						form#in.well.form-horizontal(action='/vec',method='post')
							fieldset
								legend 原药
								div.controlgroup
									label.control-label.focused(for='concentrationRaw') 原药浓度
									div.controls
										div.input-append
											input.span2#concentrationRaw(type='number',name="concentrationRaw",step='any',min='0',autofocus,required)
											span.add-on %
										p.help-block 原药的有效含量
							fieldset
								legend 终浓度
								div.controlgroup
									label.control-label(for='concentrationHigh') 最高浓度
									div.controls
										input.span2#concentrationHigh(type='number',name='concentrationHigh',step='any',min='0',required)
										select#concentrationHighUnit(name='concentrationHighUnit')
											option mg/L
											option mg/mL
											option ppm
											option %
										p.help-block 所要配制的终浓度药剂中，浓度最高的药剂的值
								//div.controlgroup
									label.control-label(for='concentrationLow') 最低浓度
									div.controls
										input.span2#concentrationLow(type='number')
										p.help-block some help text for test
								div.controlgroup
									label.control-label(for='dose') 剂量
									div.controls
										input.span2#dose(type='number',name='dose',step='any',min='0',required)
										select#doseUnit(name='doseUnit')
											option mL
											option L
											option uL
										p.help-block 每终浓度药剂所需配制的剂量
								div.controlgroup
									label.control-label(for='groupNumber') 组数
									div.controls
										div.input-append
											input.span2#groupNumber(type='number',name='groupNumber',required)
											span.add-on 组
										p.help-block 所需配制终浓度的组数
								div.controlgroup
									label.control-label(for='propotionRate') 组间比
									div.controls
										input.span2#propotionRate(type='number',name='propotionRate',step='any',min='1',required)
										p.help-block 任意相邻两终浓度组之间的浓度比
								div.form-actions
									button.btn.btn-large.btn-primary#sub(type='submit') <i class='icon-pencil icon-white'></i> 计算
									| &nbsp;&nbsp;&nbsp;
									a.cancel.btn.btn-large(href='/vec') <i class='icon-remove icon-white'></i> 取消
					div.span4
						h5 <i class="icon-asterisk"></i><b>说明</b>
						br
						p Vec目前只支持终浓度为等比方式分布的药剂配制
						hr
						h5 <i class="icon-eye-open"></i><b>示例</b>
						br
						p 使用95%溴氰聚酯，配制终浓度药剂各1mL：
						ul
							li 0.008 mg/L
							li 0.004 mg/L
							li 0.002 mg/L
							li 0.001 mg/L
							li 0.0005 mg/L
						p 则在左侧填写：
						p 原药浓度为：95 %，
						p 最高浓度为：0.008 mg/L，
						p 剂量为：   1 mL，
						p 组数为：   5 组，
						p 组间比为： 2 ，  0.008/0.004 ＝ 2
				section.row
					div.span12
						script(type='text/x-handlebars',data-template-name="say-hello")
							<h1>hello , {{name}}</h1>
			footer.row
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		script
			window.jQuery || document.write('<script src="../js/libs/jquery-1.7.2.min.js"><\/script>');
		script(src="../js/libs/raphael.js")
		script(src="../js/vec/start.js")