hr
footer.container#footer
	.row
		div.span2.pull-right
			h6 part of kokiya apps.
			h6 &copy;保留所有权利
		div.span2.pull-right
			div.pull-right
				h6 设计 &amp; 源代码
				h6.author by Spencer Zhang
		div.span2.pull-right
			div.pull-right
				h6
					| 联系我:
					a(href='mailto:sepmein@gmail.com') 邮件
				h6
					| blog:
					a(href='http://spencer.kokiya.com') spencer.kokiya.com