h1= title
p Welcome to #{title}
br
form(action='/login',method='post')
	label(for='user') 用户名：
	input(type='text',name='user',id='user')
	br
	label(for='password') 密码：
	input(type='password',name='password',id='password')
	button(type='submit') 登陆
br
form(action='/register',method='post')
	label(for='user') 用户名：
	input(type='text',name='user',id='user')
	br
	label(for='password') 密码：
	input(type='password',name='password',id='password')
	button(type='submit') 注册