!!! 5
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
		title #{data.user} 在koki上的新住所
		meta(name="description",content="打开浏览器，随便输点什么吧。前后两端都使用javascript编写。有教程，有源代码。")
		meta(name="viewport",content="width=device-width")
		link(rel='stylesheet',href='css/bootstrap.min.css')
		link(rel="stylesheet",href="css/style.css")
		script(src="js/libs/modernizr-2.5.3.min.js")
	body!= body
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		script
			window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>');
		script(src="js/libs/underscore-min.js")
		script(src="js/libs/backbone-min.js")
		script(src='js/script.js')
		script
			var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-28326426-2']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();