.center{
	margin: 0 auto;
}
@import '../less/bootstrap.less';
body {
	background-image: url('../img/indexbg.jpg');
}

header {
	h1.logo{
		width: 744px;
		.center;
	}
	h2{
		width: 515px;
		color: rgba(255,255,255,0.4);
		.center;
	}
}

footer{
	margin-top: 300px;
}