#sayContent,#userName{
	padding: 9px;
	height: 17px;
	margin: 0px;
}
#sayContent{
	width: 400px; 
}
.alert{
	display: none;
}
small{
	display:inline;
}
small.ts{
	float: right;
}
section#chatboard {
	background-color: rgb(252,252,252);
	margin-top: 30px;
}
section#chatboard>p{
	height : 28px;
	line-height: 28px;
}
section#chatboard>p input{
	margin : 0;
}
section#chatboard i{
	opacity: 0.2;
	-moz-opacity: 0.2;
	filter:alpha(opacity=2);
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	transition: all 0.2s;
}
section#chatboard i:hover{
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
}

span.comment{
	display: none;
}

#controller{
	margin-top: 30px;
	height: 46px;
	overflow: hidden;
}
.hiddenFrame{
	position: relative;
}
.control-group>label,.control-group>.controls{
	display:inline;
}

hr.inset {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer{
	margin-top: 30px;
	font-size: 0.8em;
}
footer li{
	margin: 4px;
}