#sayContent,#userName{
	padding: 9px;
	height: 17px;
	margin: 0px;
}
#sayContent{
	width: 400px; 
}
.alert{
	display: none;
}
small{
	display:inline;
	color: rgb(175,175,175);
	font-size: 0.8em;
}
.placeholder{
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}
section#chatboard {
	background-color: rgb(252,252,252);
	margin-top: 30px;

	/* >p{
		height : 28px;
		line-height: 28px;
	
		input{
			margin : 0;
		}
	}
	
	i{
		opacity: 0.2;
		-moz-opacity: 0.2;
		filter:alpha(opacity=2);
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
		transition: all 0.2s;
	}
	i:hover{
		opacity: 0.8;
		-moz-opacity: 0.8;
		filter:alpha(opacity=8);
	} */
}
span.comment{
	display: none;
}

#controller{
	margin-top: 30px;
	height: 46px;
	overflow: hidden;
}
.hiddenFrame{
	position: relative;
}
.control-group>label,.control-group>.controls{
	display:inline;
}

hr.inset {
	clear: both;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.container>footer{
	margin-top: 30px;
	font-size: 0.8em;
	li{
		margin: 4px;
	}
}

@largepostlength : 250px;
@biolength : 50px;
.square(@length){
	height: @length;
	width: @length;
}
.post-type-large{
	width: @largepostlength;	
}
.bio{
	.square(@biolength);
	float: left;
	background-color: transparent;
}
.clear{
	clear: both;
}
.kokiya-radius(@radius){
	border-radius: @radius;
	border-top-left-radius: 0;
}
div.post{
	margin: 20px;
	float: left;
	position: relative;
	border: 1px solid rgb(230,230,230);
	//box shadow
	-webkit-box-shadow: 0px 3px 5px 0px rgb(175,175,175);
	-moz-box-shadow: 0px 3px 5px 0px rgb(175,175,175);
	box-shadow: 0px 3px 5px 0px rgb(175,175,175);
	article{
//		.kokiya-radius(5em);
		overflow: hidden; 
		//background-color: rgb(240,240,240);
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		strong,small{
			line-height: 2em;
			margin-left: 1em;
		}

		p{
			position: relative;
			margin-top: @biolength+5px;
			margin-left: 3em;
			margin-right: 3em;
			margin-bottom: 3em;
			line-height: 1.6em;
		}
	}
	.corner{
		width: 4em;
		height: 4em;
		background-color: #FFF;
		z-index: 1;
	}
	i{
		position: relative;
		opacity: 0.2;
		-moz-opacity: 0.2;
		filter:alpha(opacity=2);
	}
	i.icon-comment{
		right: -49%;
		bottom: -43%;
	}
	i.icon-plus{
		right: -49%;
		top: 26%;
	}
	i.icon-minus{
		left: 32%;
		bottom: -43%;
	}
	.comment{
		position: absolute;
		right: 0;
		bottom: 0;
		border-radius: 2000px 0px 0px 0px;
	}
	.comment:hover{
		background-color: blue;
	}
	.plus{
		position: absolute;
		right: 0;
		top: 0;
		border-radius: 0px 0px 0px 2000px;
	}
	.plus:hover{
		background-color: red;
	}
	.minus{
		position: absolute;
		left: 0;
		bottom: 0;
		border-radius: 0px 2000px 0px 0px;
	}
	.minus:hover{
		background-color: green;
	}


}