form(action='/register',method='post')
	label(for='user') username:
	input(type='text',name='user',id='user')
	label(for='password') password:
	input(type='password',name='password',id='password')
	label(for='email') email:
	input(type='password',name='text',id='password')
	label(for='password') coupon:
	input(type='password',name='text',id='password')
	button.btn.btn-large(type='submit') go
