h3 感谢您对kokiya的关注!
h3 我们很荣幸能将kokiya beta版的邀请码发给您。
h3 请点击以下链接以继续：
h2(style="text-align:center")
	a(href='#{link}',target='_blank') 开始使用kokiya 
br
div(style="color:rgb(200,200,200)")
	p 邀请码只对本邮箱有效，并在创建用户后删除。
	p 若未曾使用本邮箱申请邀请码，请忽略此邮件。
	p 这是一封由系统自动生成的邮件，请勿直接回复。
h5(style="text-align:right") 来自
	|a(href='http://kokiya.no.de') kokiya
p(style="text-align:right") a microblog system build on top of 
p(style="text-align:right") NodeJS &amp; MongoDB