h3 您好！欢迎使用Vec－生物测定,药剂配制系统
h4 该配方已存至云端
h4 无需重复劳动,只需点击以下链接即可查看配方结果:
h2(style="text-align:center")
	a(href='#{link}',target='_blank') #{link} 
br
div(style="color:rgb(200,200,200)")
	p Vec向你发送此邮件是因为：有用户在地址列表提交了您的邮件地址。
	p 若非本人需要，请删除此邮件。
	p 这是一封由系统自动生成的邮件，请勿直接回复。
h5 什么是 <a href='http://kokiya.no.de/vec'> Vec </a>?
p 在进行生物测定前，常常需要复杂的计算来确定将原药配制成终浓度的整个过程
p Vec解放您的双手，您只需提供必要的信息，便能生成合理的配制过程，供您参考
p 不仅如此，Vec还将每次生成的配方储存在云端，这样第二次遇到相同情况时，您可以直接访问该配方地址，便能获得结果